html, body {
    height: 100%;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.bg_hamster {
    background-image: url("bg_hamster.png");
}

.section {
    margin-top: 25px;
    text-align: center;
}

h1 {
    font-family: "Roboto Mono";
    font-size: 40px;
    line-height: normal;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

h6 {
    font-family: "Roboto Mono";
    font-size: 32px;
    line-height: normal;
    color: #eeeeee;
    text-shadow: 2px 2px 4px #000000;
}

p1 {
    font-family: "Roboto Mono";
    font-size: 24px;
    line-height: normal;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.buttonNav {
    width: 400px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    font-family: "Roboto Mono";
    font-size: 28px;
    text-shadow: 2px 2px 4px #000000;
    background: #ffc0cb;
    color: #ffffff;
    border: 0px solid #ffc0cb;
    border-radius: 25px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.20), 0 5px 20px 0 rgba(0,0,0,0.20);
    transition-duration: 0.25s;
}

    .buttonNav:hover {
        background: #eeb0ba;
        border: 0px solid #eeb0ba;
        transform: scale(1.05, 1.05)
    }

    button.buttonNav:active {
        transform: rotate(-2.5deg);
    }