{% extends "layout.html" %}

{% block content %}

<div class="section">
    <h1>Please leave…</h1>
</div>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('coming_soon') }}'">Useless Blog</button>
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('ung_home') }}'">Useless Number Game</button>
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('coming_soon') }}'">Useless Offshore Binary Tree</button>
</div>

{% endblock %}