{% extends "layout_app.html" %}

{% block app_content %}

<h1 align="center"> Useless Number Game. </h1>
<h6 align="center"> It's what it says on the tin. </h6>

<div style="text-align: center; margin-top: 25px;">
    <button type="button" id="btnStart" class="buttonNav" onclick="window.location.href='main'">I am bored.</button>
</div>

<div style="text-align: center; margin-top: 25px;">
    <button type="button" id="btnAbout" class="buttonNav" onclick="window.location.href='about'">What is this?</button>
</div>

{% if 'username' in session %}

<div style="text-align: center; margin-top: 25px;">
    <button type="button" id="btnStartSignOut" class="buttonRed" onclick="window.location.href='signout'">Sign me out.</button>
</div>

{% else %}

<div style="text-align: center; margin-top: 25px;">
    <button type="button" id="btnStartSignUp" class="buttonNav" onclick="window.location.href='signup'">Sign me up.</button>
</div>

<div style="text-align: center; margin-top: 25px;">
    <button type="button" id="btnStartSignIn" class="buttonNav" onclick="window.location.href='signin'">Sign me in.</button>
</div>

{% endif %}

<div style="text-align: center; margin-top: 25px;">
    <p2>
        Originally made, with literally zero love and care,
        by <a href="https://github.com/jyjulianwong/" target="_blank">a total crackhead</a> in 2018.
    </p2>
</div>

{% endblock %}