{% extends "layout.html" %}

{% block content %}

<div class="section">
    <button
            type="button"
            class="buttonSitePreview"
            onclick="window.location.href='{{ url_for('.coming_soon') }}'">
        Useless Blog
    </button>
    <button
            type="button"
            class="buttonSitePreview"
            onclick="window.location.href='{{ url_for('useless_meme_1.main') }}'">
        Useless Meme 1
    </button>
    <button
            type="button"
            class="buttonSitePreview"
            onclick="window.location.href='{{ url_for('useless_meme_2.main') }}'">
        Useless Meme 2
    </button>
    <button
            type="button"
            class="buttonSitePreview"
            onclick="window.location.href='{{ url_for('useless_number_game.home') }}'">
        Useless Number Game
    </button>
    <button
            type="button"
            class="buttonSitePreview"
            onclick="window.location.href='{{ url_for('useless_offshore_binary_tree.home') }}'">
        Useless Offshore Binary Tree
    </button>
</div>

<div class="section">
    <p>
        Originally made, with literally zero love and care,
        by <a href="https://github.com/jyjulianwong/" target="_blank">a total crackhead</a> in 2018.
    </p>
</div>

{% endblock %}