{% extends "layout.html" %}

{% block content %}

<h1 align="center"> Useless Number Game. </h1>

<div class="container" align="center" style="margin-top: 25px">
    <h6>Sign in right here, human…</h6>
    <br />
    <form action="{{ url_for('sign_in') }}" method="post">
        <input type="text" placeholder="What's your username?" name="username" value="{{ request.form['username'] }}">
        <br />
        <input type="password" placeholder="What's your password?" name="password" value="{{ request.form['password'] }}">
        <br />
        {% if error != None %}
        <p2 style="text-align: center">{{ error }}</p2>
        {% endif %}
        <div id="divSignIn" style="text-align: center; margin-top: 25px;">
            <input class="btnSignIn" type="submit" value="Sign in…">
        </div>
    </form>
</div>

<div id="divSignInBack" style="text-align: center; margin-top: 10px;">
    <button type="button" id="btnSignInBack" class="buttonNav" onclick="window.location.href='home'">Back…</button>
</div>

{% endblock %}