{% extends "layout_user.html" %}

{% block user_content %}

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='ung/main'">I am bored.</button>
    <button type="button" class="buttonNav" onclick="window.location.href='ung/about'">What is this?</button>
</div>

{% if 'username' in session %}

<div class="section">
    <button type="button" class="buttonRed" onclick="window.location.href='ung/signout'">Sign me out.</button>
</div>

{% else %}

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='ung/signup'">Sign me up.</button>
    <button type="button" class="buttonNav" onclick="window.location.href='ung/signin'">Sign me in.</button>
</div>

{% endif %}

<div class="section">
    <p2>
        Originally made, with literally zero love and care,
        by <a href="https://github.com/jyjulianwong/" target="_blank">a total crackhead</a> in 2018.
    </p2>
</div>

{% endblock %}