{% extends "ung/layout.html" %}

{% block content %}

<div class="section">
    <h2>Changing your password, aye? Good idea, {{ username }}.</h2>
    <br />
    <form action="{{ url_for('.player_change_password', username=session['username']) }}" method="post">
        <input type="password" placeholder="What's your old password?" name="oldPassword" value="{{ request.form['oldPassword'] }}">
        <br />
        <input type="password" placeholder="What's your new password?" name="newPassword" value="{{ request.form['newPassword'] }}">
        <br />
        <input type="password" placeholder="What's your new password, again?" name="newPasswordConfirm" value="{{ request.form['newPasswordConfirm'] }}">
        <br />

        {% if error %}

        <p2><err>{{ error }}</err></p2>

        {% endif %}

        <div class="section">
            <input type="submit" class="buttonNav" value="Change my password…">
        </div>
    </form>
</div>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('.home') }}'">Back…</button>
</div>
{% endblock %}