{% extends "layout.html" %}

{% block content %}

<h1 align="center"> Useless Number Game. </h1>

<div class="container" align="center" style="margin-top: 25px">
    <h6>Changing your password, aye? Good idea, {{ current_username }}.</h6>
    <br />
    <form action="{{ url_for('profile_change_password') }}" method="post">
        <input type="password" placeholder="What's your old password?" name="oldPassword" value="{{ request.form['oldPassword'] }}">
        <br />
        <input type="password" placeholder="What's your new password?" name="newPassword" value="{{ request.form['newPassword'] }}">
        <br />
        <input type="password" placeholder="What's your new password, again?" name="newPasswordConfirm" value="{{ request.form['newPasswordConfirm'] }}">
        <br />
        {% if error != None %}
        <p2 style="text-align: center">{{ error }}</p2>
        {% endif %}
        <div id="divChangePassword" style="text-align: center; margin-top: 25px;">
            <input class="btnChangePassword" type="submit" value="Change my password…">
        </div>
    </form>
</div>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='/'">Back…</button>
</div>
{% endblock %}