{% extends "layout.html" %}

{% block content %}

<h6 align="center"> Are you sure about this? </h6>

<div class="container" align="center" style="margin-top: 25px">
    <p1> You are about to <p1-red> delete your profile </p1-red> from Useless Number Game. </p1>
    <br />
    <p1> You will not be able to recover data from your profile after you confirm. </p1>
    <form action="{{ url_for('profile_delete') }}" method="post">
        <div id="divProDelCon" style="text-align: center; margin-top: 50px;">
            <input class="btnProDelCon" type="submit" value="Go ahead…">
        </div>
    </form>
</div>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='/'">Back…</button>
</div>

{% endblock %}