{% extends "layout_user.html" %}

{% block user_content %}

{% if 'username' in session %}

<h1 align="center"><u> {{ session['username'] }} </u></h1>
<h6 align="center"> A useless player since {{ sign_up_date }}. </h6>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='ung/profile/change-password'">Change my password.</button>
    <button type="button" class="buttonRed" onclick="window.location.href='ung/signout'">Sign me out.</button>
    <button type="button" class="buttonRed" onclick="window.location.href='ung/profile/delete'">Delete me!</button>
</div>

{% else %}

<h1 align="center"> Hey there, human! </h1>
<h6 align="center"> Might wanna sign in first, mate… </h6>

{% endif %}

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='ung/home'">Back…</button>
</div>

{% endblock %}