{% extends "ung/layout.html" %}

{% block content %}

<div class="section">
    <h2>Sign up right here, human…</h2>
    <br />
    <form action="{{ url_for('.sign_up') }}" method="post">
        <input type="text" placeholder="Your new username?" name="username" value="{{ request.form['username'] }}">
        <br />
        <input type="password" placeholder="Your new password?" name="password" value="{{ request.form['password'] }}">
        <br />
        <input type="password" placeholder="Your new password, once more?" name="passwordConfirm" value="{{ request.form['passwordConfirm'] }}">
        <br />

        {% if error %}

        <p2><err>{{ error }}</err></p2>

        {% endif %}

        <div class="section">
            <input type="submit" class="buttonNav" value="Sign up…">
        </div>
    </form>
</div>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('.home') }}'">Back…</button>
</div>

{% endblock %}