{% extends "layout.html" %}

{% block content %}

<h1 align="center"> Useless Number Game. </h1>

<div class="container" align="center" style="margin-top: 25px">
    <h6>Sign up right here, human…</h6>
    <br />
    <form action="{{ url_for('sign_up') }}" method="post">
        <input type="text" placeholder="Your new username?" name="username" value="{{ request.form['username'] }}">
        <br />
        <input type="password" placeholder="Your new password?" name="password" value="{{ request.form['password'] }}">
        <br />
        <input type="password" placeholder="Your new password, once more?" name="passwordRe" value="{{ request.form['passwordConfirm'] }}">
        <br />
        {% if error != None %}
        <p2 style="text-align: center">{{ error }}</p2>
        {% endif %}
        <div id="divSignUp" class="section">
            <input class="btnSignUp" type="submit" value="Sign up…">
        </div>
    </form>
</div>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='home'">Back…</button>
</div>

{% endblock %}