{% extends "anjuls_sleep_indicator/layout.html" %}

{% block content %}

<div class="section">
    <h1>AnJul's Sleep Indicator</h1>
    <p>Sweet dreams, honey 🙈</p>
</div>

<div class="section">
    <h1>Angel</h1>
    <p>
        Angel {{ 'fell asleep' if state_angel['isSleeping'] == 'true' else 'woke up' }} at…
    </p>
    <p class="emphasis">
        {{ state_angel['updateTime'] }} {{ '😴' if state_angel['isSleeping'] == 'true' else '🤩' }}
    </p>
    <form action="{{ url_for('.home') }}" method="post">
        <div class="sectionSwitch">
            <p>
                Hong Kong&nbsp;
                    <label class="switch">
                        <input
                                type="checkbox"
                                name="inUnitedKingdomAngel"
                                {% if in_united_kingdom_angel %} checked {% endif %}
                        />
                        <span class="slider"></span>
                    </label>
                &nbsp;London
            </p>
        </div>
        <input
                type="submit"
                class="{{ 'buttonNav' if state_angel['isSleeping'] == 'true' else 'buttonNav buttonToSleep' }}"
                name="action"
                value="{{ 'Koala awake lah!' if state_angel['isSleeping'] == 'true' else 'Koala go to bed lah!' }}"
        />
    </form>
</div>

<div class="section">
    <h1>Julian</h1>
    <p>
        Julian {{ 'fell asleep' if state_julian['isSleeping'] == 'true' else 'woke up' }} at…
    </p>
    <p class="emphasis">
        {{ state_julian['updateTime'] }} {{ '😴' if state_julian['isSleeping'] == 'true' else '🤩' }}
    </p>
    <form action="{{ url_for('.home') }}" method="post">
        <div class="sectionSwitch">
            <p>
                Hong Kong&nbsp;
                    <label class="switch">
                        <input
                                type="checkbox"
                                name="inUnitedKingdomJulian"
                                {% if in_united_kingdom_julian %} checked {% endif %}
                        />
                        <span class="slider"></span>
                    </label>
                &nbsp;London
            </p>
        </div>
        <input
                type="submit"
                class="{{ 'buttonNav' if state_julian['isSleeping'] == 'true' else 'buttonNav buttonToSleep' }}"
                name="action"
                value="{{ 'Wood awake lah!' if state_julian['isSleeping'] == 'true' else 'Wood go to bed lah!' }}"
        />
    </form>
</div>

{% endblock %}