{% extends "anjuls_sleep_indicator/layout.html" %}

{% block content %}

<div class="section">
    <h1>AnJul's Sleep Indicator</h1>
    <p>Sweet dreams, honey 🙈</p>
</div>

<div class="section">
    <p>Angel woke up at…</p>
    <p class="emphasis">{{ state_a['updateWakeTime'] }} 🤩</p>
    <p>Angel fell asleep at…</p>
    <p class="emphasis">{{ state_a['updateSleepTime'] }} 😴</p>
    <form action="{{ url_for('.home') }}" method="post">
        <div class="sectionSwitch">
            <p>
                Hong Kong&nbsp;
                    <label class="switch">
                        <input
                                type="checkbox"
                                name="inUnitedKingdomAngel"
                                {% if in_united_kingdom_a %} checked {% endif %}
                        />
                        <span class="slider"></span>
                    </label>
                &nbsp;London
            </p>
        </div>
        <input
                type="submit"
                class="{{ 'buttonNav' if is_sleeping_a else 'buttonNav buttonToSleep' }}"
                name="action"
                value="{{ 'Koala awake lah!' if is_sleeping_a else 'Koala go to bed lah!' }}"
        />
    </form>
</div>

<div class="section">
    <p>Julian woke up at…</p>
    <p class="emphasis">{{ state_j['updateWakeTime'] }} 🤩</p>
    <p>Julian fell asleep at…</p>
    <p class="emphasis">{{ state_j['updateSleepTime'] }} 😴</p>
    <form action="{{ url_for('.home') }}" method="post">
        <div class="sectionSwitch">
            <p>
                Hong Kong&nbsp;
                    <label class="switch">
                        <input
                                type="checkbox"
                                name="inUnitedKingdomJulian"
                                {% if in_united_kingdom_j %} checked {% endif %}
                        />
                        <span class="slider"></span>
                    </label>
                &nbsp;London
            </p>
        </div>
        <input
                type="submit"
                class="{{ 'buttonNav' if is_sleeping_j else 'buttonNav buttonToSleep' }}"
                name="action"
                value="{{ 'Wood awake lah!' if is_sleeping_j else 'Wood go to bed lah!' }}"
        />
    </form>
</div>

{% endblock %}