{% extends "uobt/layout.html" %}

{% block content %}

<div class="section">
    <h1>Useless Offshore Binary Tree</h1>
</div>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('coming_soon') }}'">See the tree</button>
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('coming_soon') }}'">Navigate the tree</button>
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('uobt_tree_add') }}'">Add to the tree</button>
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('coming_soon') }}'">Wtf is this?</button>
</div>

{% endblock %}