{% extends "uobt/layout.html" %}

{% block content %}

<div class="section">
    <h2>Add a new node…</h2>
    <br />
    <form action="{{ url_for('uobt_tree_add') }}" method="post">
        <input type="text" placeholder="Name of the node?" name="key" value="{{ request.form['key'] }}">
        <br />
        <input type="text" placeholder="Description of the node?" name="item" value="{{ request.form['item'] }}">
        <br />
        <input type="text" placeholder="Name of this node's parent node?" name="parent" value="{{ request.form['parent'] }}">
        <br />

        {% if error %}

        <p2><err>{{ error }}</err></p2>

        {% endif %}

        <div class="section">
            <input type="submit" class="buttonNav" value="Add…">
        </div>
    </form>
</div>

<div class="section">
    <button type="button" class="buttonNav" onclick="window.location.href='{{ url_for('uobt_home') }}'">Back…</button>
</div>

{% endblock %}